# Import packages

In [19]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
import random

# Connect to database

In [16]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:0423@localhost/APAN5310'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Create tables

In [17]:
# Pass the SQL statements that create all tables
sql_statements = text("""
-- Drop tables if they exist to avoid conflicts
DROP TABLE IF EXISTS rental CASCADE;
DROP TABLE IF EXISTS days_on_market CASCADE;
DROP TABLE IF EXISTS sale CASCADE;
DROP TABLE IF EXISTS market_heat CASCADE;
DROP TABLE IF EXISTS for_sale_listing CASCADE;
DROP TABLE IF EXISTS property CASCADE;
DROP TABLE IF EXISTS home_type CASCADE;
DROP TABLE IF EXISTS neighborhood CASCADE;
DROP TABLE IF EXISTS region CASCADE;
DROP TABLE IF EXISTS agent CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS clients CASCADE;

-- Region
CREATE TABLE region (
    region_id INT PRIMARY KEY,
    state VARCHAR(50)
);

-- Home_type
CREATE TABLE home_type (
    home_type VARCHAR(50) PRIMARY KEY,
    description TEXT
);

-- Neighborhood
CREATE TABLE neighborhood (
    neighborhood VARCHAR(50) PRIMARY KEY,
    crime_rate DECIMAL(10,2),
    school_rate DECIMAL(10,2),
    population_density DECIMAL(10,2)
);

-- Property
CREATE TABLE property (
    property_id SERIAL PRIMARY KEY,
    region_id INT,
    home_type VARCHAR(50),
    neighborhood VARCHAR(50),
    zipcode VARCHAR(50),
    state VARCHAR(50),
    city VARCHAR(50),
    square_feet DECIMAL(10,2),
    FOREIGN KEY (region_id) REFERENCES region(region_id),
    FOREIGN KEY (home_type) REFERENCES home_type(home_type),
    FOREIGN KEY (neighborhood) REFERENCES neighborhood(neighborhood)
);

-- Rental
CREATE TABLE rental (
    region_id INT,
    date DATE,
    rent DECIMAL(10,2),
    PRIMARY KEY (region_id, date),
    FOREIGN KEY (region_id) REFERENCES region(region_id)
);

-- Days_on_market
CREATE TABLE days_on_market (
    region_id INT,
    date DATE,
    days INT,
    PRIMARY KEY (region_id, date),
    FOREIGN KEY (region_id) REFERENCES region(region_id)
);

-- Sale
CREATE TABLE sale (
    region_id INT,
    date DATE,
    mean_price DECIMAL(10,2),
    PRIMARY KEY (region_id, date),
    FOREIGN KEY (region_id) REFERENCES region(region_id)
);

-- Market_heat
CREATE TABLE market_heat (
    region_id INT PRIMARY KEY,
    date DATE,
    index INT,
    FOREIGN KEY (region_id) REFERENCES region(region_id)
);

-- Agent
CREATE TABLE agent (
    agent_id SERIAL PRIMARY KEY,
    state VARCHAR(50),
    zipcode VARCHAR(50),
    contact VARCHAR(50),
    client_id SERIAL,
    agent_name VARCHAR(50)
);

-- For_sale_listing
CREATE TABLE for_sale_listing (
    for_sale_listing_id SERIAL PRIMARY KEY,
    region_id INT,
    agent_id INT,
    FOREIGN KEY (region_id) REFERENCES region(region_id),
    FOREIGN KEY (agent_id) REFERENCES agent(agent_id)
);

-- Employee
CREATE TABLE employee (
    employ_id SERIAL PRIMARY KEY,
    agent_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone VARCHAR(50),
    position VARCHAR(50),
    state VARCHAR(50),
    FOREIGN KEY (agent_id) REFERENCES agent(agent_id)
);

-- Clients
CREATE TABLE clients (
    client_id SERIAL PRIMARY KEY,
    agent_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    address VARCHAR(100),
    state VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    FOREIGN KEY (agent_id) REFERENCES agent(agent_id)
);

""")

# Execute the statement to create tables
with engine.connect() as connection:
    connection.execute(sql_statements)
    print("Tables created successfully.")

Tables created successfully.

# ETL process

## Extract data from Excel

In [20]:
import pandas as pd
# Load datasets (replace paths with actual file paths if they are Excel or CSV)
rental_df = pd.read_excel("rental.xlsx")
sale_df = pd.read_excel("sale mean price.xlsx")
value_df = pd.read_excel("value based on home type.xlsx")
days_to_pending_df = pd.read_excel("days to pending.xlsx")
market_heat_df = pd.read_excel("market heat.xlsx")

## Transform

In [21]:
import pandas as pd

# Function to transform wide format to long format
def transform_to_long(df, id_vars, value_name):
    """
    Transforms a wide-format DataFrame to a long format.

    Parameters:
    - df: DataFrame in wide format.
    - id_vars: List of columns to retain as identifiers.
    - value_name: Name for the unpivoted column.

    Returns:
    - Transformed long DataFrame.
    """
    df_long = df.melt(id_vars=id_vars, var_name="date", value_name=value_name)
    df_long['date'] = pd.to_datetime(df_long['date'], errors='coerce')  # Ensure valid dates
    return df_long

# Define states to keep
states_to_keep = ["NY", "NJ", "CT"]
# Transform Rental Dataset
rental_long = transform_to_long(
    rental_df,
    id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
    value_name='rent'
)
rental_long.rename(columns={'RegionID': 'region_id', 'StateName': 'state'}, inplace=True)

# Transform Sale Dataset
sale_long = transform_to_long(
    sale_df,
    id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
    value_name='mean_price'
)
sale_long.rename(columns={'RegionID': 'region_id', 'StateName': 'state'}, inplace=True)

# Transform Value-Based Dataset
value_long = transform_to_long(
    value_df,
    id_vars=['hometype', 'RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
    value_name='value'
)
value_long.rename(columns={'RegionID': 'region_id', 'StateName': 'state'}, inplace=True)

# Transform Days to Pending Dataset
days_to_pending_long = transform_to_long(
    days_to_pending_df,
    id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
    value_name='days'
)
days_to_pending_long.rename(columns={'RegionID': 'region_id', 'StateName': 'state'}, inplace=True)

# Transform Market Heat Dataset
market_heat_long = transform_to_long(
    market_heat_df,
    id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'],
    value_name='index'
)
market_heat_long.rename(columns={'RegionID': 'region_id', 'StateName': 'state'}, inplace=True)

# Preview transformed datasets
print("Rental Long Format:\n", rental_long.head())
print("Sale Long Format:\n", sale_long.head())
print("Value-Based Long Format:\n", value_long.head())
print("Days to Pending Long Format:\n", days_to_pending_long.head())
print("Market Heat Long Format:\n", market_heat_long.head())

# Optionally save to CSV for further use
rental_long.to_csv("rental_long.csv", index=False)
sale_long.to_csv("sale_long.csv", index=False)
value_long.to_csv("value_long.csv", index=False)
days_to_pending_long.to_csv("days_to_pending_long.csv", index=False)
market_heat_long.to_csv("market_heat_long.csv", index=False)

Rental Long Format:
    region_id  SizeRank      RegionName RegionType state       date
0     394913         1    New York, NY        msa    NY 2015-01-31  \
1     394669        49    Hartford, CT        msa    CT 2015-01-31
2     394425        50     Buffalo, NY        msa    NY 2015-01-31
3     395031        52   Rochester, NY        msa    NY 2015-01-31
4     394415        60  Bridgeport, CT        msa    CT 2015-01-31

          rent
0  2309.053853
1  1160.824838
2   780.009542
3   891.816755
4  1702.064636
Sale Long Format:
    region_id  SizeRank      RegionName RegionType state       date  mean_price
0     394913         1    New York, NY        msa    NY 2008-02-29    551842.0
1     394669        49    Hartford, CT        msa    CT 2008-02-29    247282.0
2     394425        50     Buffalo, NY        msa    NY 2008-02-29    111956.0
3     395031        52   Rochester, NY        msa    NY 2008-02-29    115300.0
4     394415        60  Bridgeport, CT        msa    CT 2008-02-29    642803.0
Value-Based Long Format:
    hometype  region_id  SizeRank      RegionName RegionType state       date
0         5     394913         1    New York, NY        msa    NY 2000-01-31  \
1         5     394669        49    Hartford, CT        msa    CT 2000-01-31
2         5     394425        50     Buffalo, NY        msa    NY 2000-01-31
3         5     395031        52   Rochester, NY        msa    NY 2000-01-31
4         5     394415        60  Bridgeport, CT        msa    CT 2000-01-31

           value
0  337635.938633
1  269406.975032
2  111918.209448
3  145059.837202
4  857304.984924
Days to Pending Long Format:
    region_id  SizeRank      RegionName RegionType state       date  days
0     394913         1    New York, NY        msa    NY 2018-03-31  68.0
1     394669        49    Hartford, CT        msa    CT 2018-03-31  63.0
2     394425        50     Buffalo, NY        msa    NY 2018-03-31  50.0
3     395031        52   Rochester, NY        msa    NY 2018-03-31  51.0
4     394415        60  Bridgeport, CT        msa    CT 2018-03-31  66.0
Market Heat Long Format:
    region_id  SizeRank      RegionName RegionType state       date  index
0     394913         1    New York, NY        msa    NY 2018-01-31   52.0
1     394669        49    Hartford, CT        msa    CT 2018-01-31   45.0
2     394425        50     Buffalo, NY        msa    NY 2018-01-31   55.0
3     395031        52   Rochester, NY        msa    NY 2018-01-31   37.0
4     394415        60  Bridgeport, CT        msa    CT 2018-01-31   39.0

In [22]:


# Load datasets (adjust paths to your actual files)
rental_long = pd.read_csv("rental_long.csv")  # Preprocessed Rental data
sale_long = pd.read_csv("sale_long.csv")  # Preprocessed Sale data
days_to_pending_long = pd.read_csv("days_to_pending_long.csv")  # Days to Pending
market_heat_long = pd.read_csv("market_heat_long.csv")  # Market Heat

# Step 1: Filter data for states NY, NJ, CT
rental_df_filtered = rental_long[rental_long["state"].isin(states_to_keep)]
sale_df_filtered = sale_long[sale_long["state"].isin(states_to_keep)]
days_on_market_df_filtered = days_to_pending_long[days_to_pending_long["state"].isin(states_to_keep)]
market_heat_df_filtered = market_heat_long[market_heat_long["state"].isin(states_to_keep)]

# Step 2: Create Region DataFrame
region_df_filtered = rental_df_filtered[["region_id", "state"]].drop_duplicates()

# Step 3: Create Rental DataFrame
rental_df = rental_df_filtered[["region_id", "date", "rent"]].drop_duplicates()

# Step 4: Create Sale DataFrame
sale_df = sale_df_filtered[["region_id", "date", "mean_price"]].drop_duplicates()

# Step 5: Create Days on Market DataFrame
days_on_market_df = days_on_market_df_filtered[["region_id", "date", "days"]].drop_duplicates()

# Step 6: Create Market Heat DataFrame
market_heat_df = market_heat_df_filtered[["region_id", "date", "index"]].drop_duplicates()

# Step 7: Construct Property Table
property_df = pd.DataFrame(columns=[
    "property_id", "region_id", "home_type", "neighborhood",
    "zipcode", "state", "city", "square_feet"
])

# Step 8: Construct Home Type Table
home_type_df = pd.DataFrame(columns=["home_type", "description"])

# Step 9: Construct Employee Table
employee_df = pd.DataFrame(columns=[
    "employ_id", "agent_id", "first_name", "last_name",
    "email", "phone", "position", "state"
])

# Step 10: Construct Agent Table
agent_df = pd.DataFrame(columns=[
    "agent_id", "state", "zipcode", "contact", "client_id", "agent_name"
])

# Step 11: Construct Clients Table
clients_df = pd.DataFrame(columns=[
    "client_id", "agent_id", "first_name", "last_name",
    "email", "address", "state", "city", "country"
])

# Step 12: Construct Neighborhood Table
neighborhood_df = pd.DataFrame(columns=[
    "neighborhood", "crime_rate", "school_rate", "population_density"
])

# Display all constructed DataFrames
print("Filtered Rental DataFrame:\n", rental_df.head())
print("\nFiltered Sale DataFrame:\n", sale_df.head())
print("\nFiltered Days on Market DataFrame:\n", days_on_market_df.head())
print("\nFiltered Market Heat DataFrame:\n", market_heat_df.head())
print("\nFiltered Region DataFrame:\n", region_df_filtered.head())
print("\nProperty DataFrame Structure:\n", property_df.head())
print("\nHome Type DataFrame Structure:\n", home_type_df.head())
print("\nEmployee DataFrame Structure:\n", employee_df.head())
print("\nAgent DataFrame Structure:\n", agent_df.head())
print("\nClients DataFrame Structure:\n", clients_df.head())
print("\nNeighborhood DataFrame Structure:\n", neighborhood_df.head())

Filtered Rental DataFrame:
    region_id        date         rent
0     394913  2015-01-31  2309.053853
1     394669  2015-01-31  1160.824838
2     394425  2015-01-31   780.009542
3     395031  2015-01-31   891.816755
4     394415  2015-01-31  1702.064636

Filtered Sale DataFrame:
    region_id        date  mean_price
0     394913  2008-02-29    551842.0
1     394669  2008-02-29    247282.0
2     394425  2008-02-29    111956.0
3     395031  2008-02-29    115300.0
4     394415  2008-02-29    642803.0

Filtered Days on Market DataFrame:
    region_id        date  days
0     394913  2018-03-31  68.0
1     394669  2018-03-31  63.0
2     394425  2018-03-31  50.0
3     395031  2018-03-31  51.0
4     394415  2018-03-31  66.0

Filtered Market Heat DataFrame:
    region_id        date  index
0     394913  2018-01-31   52.0
1     394669  2018-01-31   45.0
2     394425  2018-01-31   55.0
3     395031  2018-01-31   37.0
4     394415  2018-01-31   39.0

Filtered Region DataFrame:
    region_id state
0     394913    NY
1     394669    CT
2     394425    NY
3     395031    NY
4     394415    CT

Property DataFrame Structure:
 Empty DataFrame
Columns: [property_id, region_id, home_type, neighborhood, zipcode, state, city, square_feet]
Index: []

Home Type DataFrame Structure:
 Empty DataFrame
Columns: [home_type, description]
Index: []

Employee DataFrame Structure:
 Empty DataFrame
Columns: [employ_id, agent_id, first_name, last_name, email, phone, position, state]
Index: []

Agent DataFrame Structure:
 Empty DataFrame
Columns: [agent_id, state, zipcode, contact, client_id, agent_name]
Index: []

Clients DataFrame Structure:
 Empty DataFrame
Columns: [client_id, agent_id, first_name, last_name, email, address, state, city, country]
Index: []

Neighborhood DataFrame Structure:
 Empty DataFrame
Columns: [neighborhood, crime_rate, school_rate, population_density]
Index: []

In [23]:
import pandas as pd
import numpy as np

# Simulate data for Property Table
def simulate_property_data(region_df):
    property_df = pd.DataFrame({
        "property_id": range(1, len(region_df) + 1),
        "region_id": region_df["region_id"],
        "home_type": np.random.choice(["Single Family", "Townhouse", "Condo"], len(region_df)),
        "neighborhood": np.random.choice(["Downtown", "Suburb", "Rural"], len(region_df)),
        "zipcode": np.random.randint(10000, 99999, len(region_df)),
        "state": region_df["state"],
        "city": np.random.choice(["New York", "Newark", "Hartford"], len(region_df)),
        # "year_built": np.random.randint(1900, 2023, len(region_df)),
        "square_feet": np.random.randint(500, 5000, len(region_df))
    })
    return property_df

# Simulate data for Home Type Table
def simulate_home_type_data():
    home_type_df = pd.DataFrame({
        "home_type": ["Single Family", "Townhouse", "Condo"],
        "description": ["Detached house", "Row house", "Apartment-style residence"]
    })
    return home_type_df

# Simulate data for Employee Table
def simulate_employee_data():
    employee_df = pd.DataFrame({
        "employ_id": range(1, 11),
        "agent_id": np.random.randint(1, 5, 10),
        "first_name": ["John", "Jane", "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank"],
        "last_name": ["Doe", "Smith", "Johnson", "Brown", "Wilson", "Taylor", "Moore", "Anderson", "Lee", "White"],
        "email": [f"employee{i}@realestate.com" for i in range(1, 11)],
        "phone": [f"555-01{i:02d}" for i in range(1, 11)],
        "position": np.random.choice(["Agent", "Manager", "Assistant"], 10),
        "state": np.random.choice(["NY", "NJ", "CT"], 10)
    })
    return employee_df

# Simulate data for Agent Table
def simulate_agent_data():
    agent_df = pd.DataFrame({
        "agent_id": range(1, 6),
        "state": np.random.choice(["NY", "NJ", "CT"], 5),
        "zipcode": np.random.randint(10000, 99999, 5),
        "contact": [f"agent{i}@realestate.com" for i in range(1, 6)],
        "client_id": np.random.randint(1, 20, 5),
        "agent_name": [f"Agent {chr(65+i)}" for i in range(5)]
    })
    return agent_df

# Simulate data for Clients Table
def simulate_clients_data(agent_df):
    clients_df = pd.DataFrame({
        "client_id": range(1, 21),
        "agent_id": np.random.choice(agent_df["agent_id"], 20),
        "first_name": [f"Client{i}" for i in range(1, 21)],
        "last_name": ["Smith", "Johnson", "Brown", "Taylor", "Moore", "Anderson", "Thomas", "Jackson", "White", "Harris"] * 2,
        "email": [f"client{i}@realestate.com" for i in range(1, 21)],
        "address": [f"{i} Main St" for i in range(1, 21)],
        "state": np.random.choice(["NY", "NJ", "CT"], 20),
        "city": np.random.choice(["New York", "Newark", "Hartford"], 20),
        "country": ["USA"] * 20
    })
    return clients_df

# Simulate data for Neighborhood Table
def simulate_neighborhood_data():
    neighborhood_df = pd.DataFrame({
        "neighborhood": ["Downtown", "Suburb", "Rural"],
        "crime_rate": np.random.uniform(0.1, 5.0, 3),
        "school_rate": np.random.uniform(3.0, 10.0, 3),
        "population_density": np.random.randint(100, 10000, 3)
    })
    return neighborhood_df

# Simulate data for required tables
region_df = pd.DataFrame({
    "region_id": np.random.randint(1000, 1100, 10),
    "state": np.random.choice(["NY", "NJ", "CT"], 10)
})
property_df = simulate_property_data(region_df)
home_type_df = simulate_home_type_data()
employee_df = simulate_employee_data()
agent_df = simulate_agent_data()
clients_df = simulate_clients_data(agent_df)
neighborhood_df = simulate_neighborhood_data()

# Display the simulated data
property_df.head(), home_type_df, employee_df.head(), agent_df.head(), clients_df.head(), neighborhood_df.head()

(   property_id  region_id  home_type neighborhood  zipcode state      city
 0            1       1021  Townhouse       Suburb    69940    NY  Hartford  \
 1            2       1029  Townhouse        Rural    95446    NJ  Hartford
 2            3       1056  Townhouse        Rural    51746    NY  Hartford
 3            4       1087  Townhouse        Rural    34129    NJ  New York
 4            5       1003      Condo     Downtown    88595    CT    Newark

    square_feet
 0         4540
 1         4728
 2         4180
 3         3829
 4         4493  ,
        home_type                description
 0  Single Family             Detached house
 1      Townhouse                  Row house
 2          Condo  Apartment-style residence,
    employ_id  agent_id first_name last_name                     email
 0          1         4       John       Doe  employee1@realestate.com  \
 1          2         3       Jane     Smith  employee2@realestate.com
 2          3         4      Alice   Johnson  employee3@realestate.com
 3          4         3        Bob     Brown  employee4@realestate.com
 4          5         2    Charlie    Wilson  employee5@realestate.com

       phone   position state
 0  555-0101      Agent    NJ
 1  555-0102      Agent    CT
 2  555-0103  Assistant    NY
 3  555-0104  Assistant    NJ
 4  555-0105  Assistant    NY  ,
    agent_id state  zipcode                contact  client_id agent_name
 0         1    NY    10945  agent1@realestate.com         16    Agent A
 1         2    NJ    89649  agent2@realestate.com         18    Agent B
 2         3    NJ    61660  agent3@realestate.com          3    Agent C
 3         4    NJ    76067  agent4@realestate.com         14    Agent D
 4         5    NY    86489  agent5@realestate.com          7    Agent E,
    client_id  agent_id first_name last_name                   email
 0          1         2    Client1     Smith  client1@realestate.com  \
 1          2         3    Client2   Johnson  client2@realestate.com
 2          3         5    Client3     Brown  client3@realestate.com
 3          4         3    Client4    Taylor  client4@realestate.com
 4          5         1    Client5     Moore  client5@realestate.com

      address state      city country
 0  1 Main St    NY    Newark     USA
 1  2 Main St    NY  New York     USA
 2  3 Main St    NJ    Newark     USA
 3  4 Main St    NJ  Hartford     USA
 4  5 Main St    NJ    Newark     USA  ,
   neighborhood  crime_rate  school_rate  population_density
 0     Downtown    2.848240     4.172515                5754
 1       Suburb    3.820322     9.798772                4985
 2        Rural    3.598714     9.266344                8316)

In [24]:
import pandas as pd
import numpy as np
import random

# Define states to keep
states_to_keep = ["NY", "NJ", "CT"]

# Load datasets (adjust paths to your actual files)
rental_long = pd.read_csv("rental_long.csv")  # Preprocessed Rental data
sale_long = pd.read_csv("sale_long.csv")  # Preprocessed Sale data
days_to_pending_long = pd.read_csv("days_to_pending_long.csv")  # Days to Pending
market_heat_long = pd.read_csv("market_heat_long.csv")  # Market Heat

# Step 1: Filter data for states NY, NJ, CT
rental_df_filtered = rental_long[rental_long["state"].isin(states_to_keep)]
sale_df_filtered = sale_long[sale_long["state"].isin(states_to_keep)]
days_on_market_df_filtered = days_to_pending_long[days_to_pending_long["state"].isin(states_to_keep)]
market_heat_df_filtered = market_heat_long[market_heat_long["state"].isin(states_to_keep)]

# Step 2: Create Region DataFrame
region_df_filtered = rental_df_filtered[["region_id", "state"]].drop_duplicates()

# Step 3: Create Rental DataFrame
rental_df = rental_df_filtered[["region_id", "date", "rent"]].drop_duplicates()

# Step 4: Create Sale DataFrame
sale_df = sale_df_filtered[["region_id", "date", "mean_price"]].drop_duplicates()

# Step 5: Create Days on Market DataFrame
days_on_market_df = days_on_market_df_filtered[["region_id", "date", "days"]].drop_duplicates()

# Step 6: Create Market Heat DataFrame
market_heat_df = market_heat_df_filtered[["region_id", "date", "index"]].drop_duplicates()

# Step 7: Simulate and Integrate Property Table
property_df = pd.DataFrame({
    "property_id": range(1, len(region_df_filtered) + 1),
    "region_id": region_df_filtered["region_id"].values,
    "home_type": np.random.choice(["Single Family", "Townhouse", "Condo"], len(region_df_filtered)),
    "neighborhood": np.random.choice(["Downtown", "Suburb", "Rural"], len(region_df_filtered)),
    "zipcode": np.random.randint(10000, 99999, len(region_df_filtered)),
    "state": region_df_filtered["state"].values,
    "city": np.random.choice(["New York", "Newark", "Hartford"], len(region_df_filtered)),
    # "year_built": np.random.randint(1900, 2023, len(region_df_filtered)),
    "square_feet": np.random.randint(500, 5000, len(region_df_filtered))
})

# Step 8: Simulate and Integrate Home Type Table
home_type_df = pd.DataFrame({
    "home_type": ["Single Family", "Townhouse", "Condo"],
    "description": ["Detached house", "Row house", "Apartment-style residence"]
})

first_names = [
    "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank", "Ivy", "Jack",
    "Kathy", "Leo", "Mona", "Nina", "Oscar", "Paul", "Quincy", "Rita", "Sam", "Tina",
    "Uma", "Victor", "Wendy", "Xander", "Yara", "Zane", "Aaron", "Bella", "Caleb", "Dana",
    "Eli", "Fiona", "George", "Holly", "Ian", "Judy", "Kevin", "Lila", "Mason", "Nora",
    "Oliver", "Piper", "Quinn", "Ruby", "Sean", "Tessa", "Ulysses", "Vera", "Will", "Xena",
    "Yvonne", "Zach", "Amber", "Brian", "Cindy", "Derek", "Elena", "Freddy", "Gina", "Harold",
    "Isla", "Jordan", "Kara", "Liam", "Maggie", "Nathan", "Ophelia", "Peter", "Quentin", "Rachel",
    "Sophie", "Tyler", "Ursula", "Victor", "Whitney", "Xavier", "Yasmine", "Zara", "Andy", "Brenda",
    "Carter", "Daisy", "Ethan", "Flora", "Garrett", "Hannah", "Isaac", "Julia", "Kendall", "Logan"
]

last_names = [
    "Smith", "Johnson", "Williams", "Jones", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor",
    "Anderson", "Thomas", "Jackson", "White", "Harris", "Martin", "Thompson", "Garcia", "Martinez", "Robinson",
    "Clark", "Rodriguez", "Lewis", "Lee", "Walker", "Hall", "Allen", "Young", "Hernandez", "King",
    "Wright", "Lopez", "Hill", "Scott", "Green", "Adams", "Baker", "Gonzalez", "Nelson", "Carter",
    "Mitchell", "Perez", "Roberts", "Turner", "Phillips", "Campbell", "Parker", "Evans", "Edwards", "Collins",
    "Stewart", "Sanchez", "Morris", "Rogers", "Reed", "Cook", "Morgan", "Bell", "Murphy", "Bailey",
    "Rivera", "Cooper", "Richardson", "Cox", "Howard", "Ward", "Torres", "Peterson", "Gray", "Ramirez",
    "James", "Watson", "Brooks", "Kelly", "Sanders", "Price", "Bennett", "Wood", "Barnes", "Ross",
    "Henderson", "Coleman", "Jenkins", "Perry", "Powell", "Long", "Patterson", "Hughes", "Flores", "Washington",
    "Butler", "Simmons", "Foster", "Gonzales", "Bryant", "Alexander", "Russell", "Griffin", "Diaz", "Hayes"
]


# Step 9: Simulate and Integrate Employee Table
employee_df = pd.DataFrame({
    "employ_id": range(1, 51),
    "agent_id": np.random.randint(1, 5, 50),
    "first_name": np.random.choice(first_names, 50),  
    "last_name": np.random.choice(last_names, 50), 
    "email": [f"employee{i}@realestate.com" for i in range(1, 51)],
    "phone": [f"555-01{i:02d}" for i in range(1, 51)],
    "position": np.random.choice(["Agent", "Manager", "Assistant"], 50),
    "state": np.random.choice(states_to_keep, 50)
})

# Step 10: Simulate and Integrate Agent Table
agent_df = pd.DataFrame({
    "agent_id": range(1, 6),
    "state": np.random.choice(states_to_keep, 5),
    "zipcode": np.random.randint(10000, 99999, 5),
    "contact": [f"agent{i}@realestate.com" for i in range(1, 6)],
    "client_id": np.random.randint(1, 20, 5),
    "agent_name": [f"Agent {chr(65+i)}" for i in range(5)]
})

# Step 11: Simulate and Integrate Clients Table
clients_df = pd.DataFrame({
    "client_id": range(1, 201),
    "agent_id": np.random.choice(agent_df["agent_id"], 200),
    "first_name": np.random.choice(first_names, 200),  
    "last_name": np.random.choice(last_names, 200), 
    "email": [f"client{i}@realestate.com" for i in range(1, 201)],
    "address": [f"{i} Main St" for i in range(1, 201)],
    "state": np.random.choice(states_to_keep, 200),
    "city": np.random.choice(["New York", "Newark", "Hartford"], 200),
    "country": ["USA"] * 200
})

# Step 12: Simulate and Integrate Neighborhood Table
neighborhood_df = pd.DataFrame({
    "neighborhood": ["Downtown", "Suburb", "Rural"],
    "crime_rate": np.random.uniform(0.1, 5.0, 3),
    "school_rate": np.random.uniform(3.0, 10.0, 3),
    "population_density": np.random.randint(100, 10000, 3)
})

# Display all constructed DataFrames
print("Filtered Rental DataFrame:\n", rental_df.head())
print("\nFiltered Sale DataFrame:\n", sale_df.head())
print("\nFiltered Days on Market DataFrame:\n", days_on_market_df.head())
print("\nFiltered Market Heat DataFrame:\n", market_heat_df.head())
print("\nFiltered Region DataFrame:\n", region_df_filtered.head())
print("\nProperty DataFrame:\n", property_df.head())
print("\nHome Type DataFrame:\n", home_type_df.head())
print("\nEmployee DataFrame:\n", employee_df.head())
print("\nAgent DataFrame:\n", agent_df.head())
print("\nClients DataFrame:\n", clients_df.head())
print("\nNeighborhood DataFrame:\n", neighborhood_df.head())

Filtered Rental DataFrame:
    region_id        date         rent
0     394913  2015-01-31  2309.053853
1     394669  2015-01-31  1160.824838
2     394425  2015-01-31   780.009542
3     395031  2015-01-31   891.816755
4     394415  2015-01-31  1702.064636

Filtered Sale DataFrame:
    region_id        date  mean_price
0     394913  2008-02-29    551842.0
1     394669  2008-02-29    247282.0
2     394425  2008-02-29    111956.0
3     395031  2008-02-29    115300.0
4     394415  2008-02-29    642803.0

Filtered Days on Market DataFrame:
    region_id        date  days
0     394913  2018-03-31  68.0
1     394669  2018-03-31  63.0
2     394425  2018-03-31  50.0
3     395031  2018-03-31  51.0
4     394415  2018-03-31  66.0

Filtered Market Heat DataFrame:
    region_id        date  index
0     394913  2018-01-31   52.0
1     394669  2018-01-31   45.0
2     394425  2018-01-31   55.0
3     395031  2018-01-31   37.0
4     394415  2018-01-31   39.0

Filtered Region DataFrame:
    region_id state
0     394913    NY
1     394669    CT
2     394425    NY
3     395031    NY
4     394415    CT

Property DataFrame:
    property_id  region_id      home_type neighborhood  zipcode state
0            1     394913  Single Family       Suburb    77217    NY  \
1            2     394669          Condo        Rural    62752    CT
2            3     394425  Single Family       Suburb    41018    NY
3            4     395031          Condo       Suburb    84945    NY
4            5     394415          Condo        Rural    12269    CT

       city  square_feet
0  Hartford         1804
1  New York          862
2  Hartford         2347
3    Newark         3358
4  Hartford         4686

Home Type DataFrame:
        home_type                description
0  Single Family             Detached house
1      Townhouse                  Row house
2          Condo  Apartment-style residence

Employee DataFrame:
    employ_id  agent_id first_name  last_name                     email
0          1         3      Quinn  Hernandez  employee1@realestate.com  \
1          2         4       Vera   Williams  employee2@realestate.com
2          3         4      Daisy  Hernandez  employee3@realestate.com
3          4         1    Ulysses     Harris  employee4@realestate.com
4          5         2     Xavier     Murphy  employee5@realestate.com

      phone   position state
0  555-0101      Agent    NY
1  555-0102  Assistant    NY
2  555-0103      Agent    NJ
3  555-0104      Agent    CT
4  555-0105  Assistant    NJ

Agent DataFrame:
    agent_id state  zipcode                contact  client_id agent_name
0         1    CT    56640  agent1@realestate.com         15    Agent A
1         2    CT    96818  agent2@realestate.com         14    Agent B
2         3    NY    21841  agent3@realestate.com         18    Agent C
3         4    NJ    37562  agent4@realestate.com         12    Agent D
4         5    CT    94657  agent5@realestate.com         14    Agent E

Clients DataFrame:
    client_id  agent_id first_name last_name                   email
0          1         1       Rita    Cooper  client1@realestate.com  \
1          2         5    Garrett    Torres  client2@realestate.com
2          3         4     Harold   Bennett  client3@realestate.com
3          4         5    Garrett     James  client4@realestate.com
4          5         1       Kara   Edwards  client5@realestate.com

     address state      city country
0  1 Main St    NJ  Hartford     USA
1  2 Main St    NY  New York     USA
2  3 Main St    NY  New York     USA
3  4 Main St    NJ    Newark     USA
4  5 Main St    NJ  Hartford     USA

Neighborhood DataFrame:
   neighborhood  crime_rate  school_rate  population_density
0     Downtown    4.799528     8.804766                5750
1       Suburb    1.154944     9.041359                5281
2        Rural    3.812070     6.523375                2749

In [25]:
for_sale_listing = []

# 按 state 分组
region_grouped = region_df_filtered.groupby("state")
agent_grouped = agent_df.groupby("state")

# 为每个 region_id 分配一个 agent_id
for state, regions in region_grouped:
    # 获取该 state 的所有 agent_id
    agents = agent_grouped.get_group(state)["agent_id"].tolist()
    for region_id in regions["region_id"]:
        # 随机选择一个 agent_id
        assigned_agent = random.choice(agents)
        for_sale_listing.append({
            "for_sale_listing_id": None,  # Placeholder, will be auto-assigned
            "region_id": region_id,
            "agent_id": assigned_agent
        })

# 转换为 DataFrame
for_sale_listing_df = pd.DataFrame(for_sale_listing)

# 自动生成 for_sale_listing_id 序列
for_sale_listing_df["for_sale_listing_id"] = range(1, len(for_sale_listing_df) + 1)

## Load data into database

In [18]:
# Region table
region_df_filtered.to_sql('region', con=engine, if_exists='append', index=False)

# Home_type table
home_type_df.to_sql('home_type', con=engine, if_exists='append', index=False)

# Neighborhood table
neighborhood_df.to_sql('neighborhood', con=engine, if_exists='append', index=False)

# Property table
property_df.to_sql('property', con=engine, if_exists='append', index=False)

# Rental table
rental_df.to_sql('rental', con=engine, if_exists='append', index=False)

# Days_on_market table
days_on_market_df.to_sql('days_on_market', con=engine, if_exists='append', index=False)

# Sale table
sale_df.to_sql('sale', con=engine, if_exists='append', index=False)

# Market_heat table
market_heat_df.to_sql('market_heat', con=engine, if_exists='append', index=False)

# Agent table
agent_df.to_sql('agent', con=engine, if_exists='append', index=False)

# For_sale_listing table
for_sale_listing_df.to_sql('for_sale_listing', con=engine, if_exists='append', index=False)

# Employee table
employee_df.to_sql('employee', con=engine, if_exists='append', index=False)

# Clients table
clients_df.to_sql('clients', con=engine, if_exists='append', index=False)

200